body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



.select{
 
  border: 1px solid rgb(255, 0, 0);
  transition: all 0.5s ease;
  transform: scale(0.8);
}

.light-mode{
  background-color: white !important;
  color: black;
}
.dark-mode{
  background-color: #6F878E !important;
  color: white;
}
/* Path: src\App.css */

.dark-mode .carte{
  background-color: #879BA1 !important;
  color: white;

}
.navigation{
  background-color: #879BA1 !important;

}

